/* //// ROOT VARIABLES  */
:root {
  --violet: #0b0113;
  --light-violet: #11011e;
  --pink: #f433ab;
  --purple: #7161EF;
  --yellow: #f0f465;
  --grey: #eaf2ef;
  --white: #F5FCFA;
  --t50-white: #f5fcfa80;
  --t25-white: #f5fcfa17;
  --t75-violet: rgba(11, 1, 19, .75);
  --t50-violet: rgba(11, 1, 19, .50);
  --t25-violet: rgba(11, 1, 19, .25);
  --setupBG: #f433aa12;
  --title-font: 'Anton', sans-serif;
  --primary-font: system-ui, sans-serif;
  --lg-font: 2.5rem;
  --md-font: 1.5rem;
  --reg-font: 1rem;
  --sm-font: .5rem;
}


/* resetting CSS margin: remove default margin on text tags */
* {
  margin: 0;
}

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove built-in form typography
margin: remove default margin on text tags
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
remove list styles
*/
ol,
ul {
  list-style: none;
}

/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ////// GLOBAL */
html {
  scroll-behavior: smooth;
}

body {
  padding: 5.5em 0;
  background-color: var(--violet);
  font-family: var(--primary-font);
  color: var(--white);
}

a {
  color: inherit;
}

h1 {
  font-family: var(--title-font);
  font-size: var(--lg-font);
  color: var(--yellow);
}

.container-full-w {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 410px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

footer {
  position: fixed;
  background-color: var(--t75-violet);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  width: 100vw;
  z-index: 9999;
}


/* ////// NAVIGATION MOVED TO Navigation.css*/

/* ////// SIDEBAR */

.sidebar-btn {
  font-family: var(--title-font);
  font-size: var(--md-font);
}

.drawer-container {
  height: 100vh;
  background-color: var(--light-violet);
  width: 400px;
  z-index: 9998;
  display: flex;
  justify-content: flex-start;
}

.drawer-btn {
  transition: color .2s ease-out;
  transition: background-color .2s ease-out;
  z-index: 9999;
}

.ListItem {
  transition: color .2s ease-out;
  transition: background-color .2s ease-out;
}

.drawer-btn:hover, .drawer-btn:focus, .drawer-btn:focus-visible {
  background-color: var(--yellow);
  color: var(--light-violet);
}

/* .sidebar-btn:hover,
.sidebar-btn:focus {
  background-color: var(--yellow);
} */

.ListItem.Mui-focusVisible {
  background-color: var(--yellow);
  color: var(--light-violet);
}

/* ////// FEED & REEL */

/* .reel-container {
  scroll-margin-top: 5em;
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: auto;
}

.reel-child {
  scroll-snap-align: start end;
  height: 100vh;
} */

.click {
  width: 100%;
  height: 100%;
}

.delete-btn {
  z-index: 9;
  position: absolute;
  background-color: var(--violet);
  color: var(--yellow);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  left: 6%;
  top: 200%;
}

button.delete-btn:hover {
  background-color: var(--pink);
  color: var(--violet);
}

.info-icon {
  position: absolute;
  cursor: pointer;
  top: 77%;
  left: 87.1%;
  z-index: 2;
}

.friend-follow-icon-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-request {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  right: 3%;
  height: 25px;
  top: 79%;
}

.friend-add-btn {
  position: absolute;
  left: 88%;
  z-index: 2;
}

.friend-avatar {
  position: relative;
  cursor: pointer;
  bottom: 10%;
  left: 87%;
}

button.accept-friend:hover {
  background-color: var(--pink);
  color: var(--violet);
}

.reel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: solid var(--t25-white);
  padding-top: 2rem;
  min-height: 667px;
}

.bottom-nav-parent{
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.count-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  height: auto;
  }

p.like-counter {
  margin: 0 8px;
  color: var(--violet);
}

p.rsvp-counter {
  margin: 0;
  color: var(--violet);
}

/* jackie made changes to push video to right  */
/* it was at left:-50% before */
video.reel {
  position: absolute;
  left: -22%;
  top: 0%;
  bottom: 1vw;
  width: auto;
  max-height: 100%;
}

.video-container {
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  height: 620px;
  min-width: 375px;
}

.video-business-container {
  border: 2px solid var(--yellow);
}

.video-text {
  position: absolute;
  margin: 0 1rem;
  max-width: 350px;
  font-size: var(--lg-font);
  font-family: var(--title-font);
}

.video-timestamp {
  text-align: end;
  position: relative;
  margin: 0 1rem;
  top: 95%;
  /* right: 10%; */
  max-width: 350px;
  font-size: var(--reg-font);
  font-family: var(--title-font);
}

.video-links-container {
  width: 100%;
  height: 3.5em;
  /* border: solid var(--t25-white); */
  margin-bottom: 2rem;
}

/* ////// FRIEND REQUEST LIST & ENTRY */

h1.profile-title {
  margin-top: 1em;
  margin-left: .25em;
}

img.follow-icon {
  min-width: none;
  min-height: none;
  border: none;
}

.friendName {
  margin-right: 3rem;
}

.friendRequest-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
}

.rejectFriend-btn {
  z-index: 9;
  position: absolute;
  background-color: transparent;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

button.rejectFriend-btn:hover {
  background-color: var(--pink);
  color: var(--violet);
}

/* ////// CREATE REEL */

.create-reel-btn-container{
  border-radius: 50%;
  width: auto;
  height: auto;
}

.webContainer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.webcam {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.cameraButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: inherit
}

.cam-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50hw;
  border-radius: 10px;
  overflow: hidden;
}

.preview-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 75vh;
  border-radius: 10px;
  overflow: hidden;
}

.reel-input-caption {
  position: absolute;
  left: 2%;
  top: 12%;
  margin: 0 5rem;
  max-width: 350px;
  color: var(--white);
  font-size: var(--lg-font);
  font-family: var(--title-font);
  background: transparent;
  border: none;
}

.popUpEventForm {
  position: absolute;
  align-items: center;
  bottom: 7%;
  display: none;
  padding: 1%;
  transition: all .5s ease;
  height: 270px;
  width: 230px;
  border-width: 10px;
  border-radius: 10px;
  background-color: var(--violet);
  font-family: var(--title-font);
  color: white;
  z-index: 5;
  font-weight: bold;
}

/* MY EVENTS PAGE */

.flex-container-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
}

.event-cards-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.eventCard {
  position: relative;
  height: 270px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: solid var(--yellow);
  border-radius: 3px;
}

.eventCardDetails {
  text-align: left;
  font-weight: bold;
}

.autocomplete-dropdown-container {
  position:absolute;
  z-index: 5;
}

.eventDetailInput {
  display:inline-flex;
  color: var(--white);
  background: transparent;
  border: none;
  position: relative;
  font-weight: lighter;
  resize: none;
}

.eventNameInput {
  width: 100%;
  font-family: var(--title-font);
  font-size: 1.5rem;
  color: var(--yellow);
  background: transparent;
  border: none;
  resize: none;
}

.eventTypeContainer{
  display: flex;
  flex-direction: row;
  color: var(--yellow);
  cursor: pointer;
}

.save-event-detail-button {
  color: var(--violet);
  background-color: var(--pink);
  border: solid var(--pink);
  border-radius: 5px;
}

.save-event-success-button {
  color: var(--violet);
  background-color: var(--yellow);
  border: solid var(--yellow);
  border-radius: 5px;
}

.delete-event-button {
  position: absolute;
  /* top: 5%; */
  right: 5%;
  cursor: pointer;
}
/* IF ANYONE'S PLACEHOLDER GOT CHANGED IT WAS THIS!!! */
::placeholder {
  color: var(--white)
}

/* MEDIA QUERIES */

@media screen and (max-width: 525px) {
  /* SideBar */
  .drawer-container {
    width: 100vw;
    justify-content: center;
  }

  /* Followers & Friends */
  h1.profile-title {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .preview-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vh;
    height: 55vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .cam-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80hw;
    border-radius: 10px;
    overflow: hidden;
  }
}