.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  gap: 10px;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: var(--reg-font);
  color: var(--yellow);
  letter-spacing: .5px;
};
