.userDot {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--pink);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  overflow-y: auto;
}

.UserClusterPin {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--pink);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  text-align: center;
  overflow-y: auto;
  margin-top: 12.5px;
  font-size: 20px;
  color: black;
}

.userPopUp {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  display: none;
  transition: all .5s ease;
  height: 300px;
  width: 200px;
  border: solid var(--pink);
  border-width: 4px;
  border-radius: 15px;
  background-color: var(--violet);
  font-family: var(--title-font);
  color: white;
  position: relative;
  top: -28.5px;
  left: -100px;
  text-transform: uppercase;
  z-index: 11;
}

.addOrRmFriend {
  position: relative;
  top: 165px;
  left: -25px;
}

#map {
  height: 75vh;
  width: 80%;
  display: flex;
}

.eventDot {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--yellow);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  overflow-y: auto;
}

.eventPopUp {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  display: none;
  transition: all .5s ease;
  height: 300px;
  width: 200px;
  border: solid var(--yellow);
  border-width: 4px;
  border-radius: 15px;
  background-color: var(--violet);
  font-family: var(--title-font);
  color: white;
  position: relative;
  top: -28.5px;
  left: -100px;
  text-transform: uppercase;
  z-index: 11;
}

.EventClusterPin {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--yellow);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  text-align: center;
  overflow-y: auto;
  margin-top: 12.5px;
  font-size: 20px;
  color: black;
}

.businessDot {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--purple);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  overflow-y: auto;
}

.businessPopUp {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  display: none;
  transition: all .5s ease;
  height: 300px;
  width: 200px;
  border: solid var(--purple);
  border-width: 4px;
  border-radius: 15px;
  background-color: var(--violet);
  font-family: var(--title-font);
  color: white;
  position: relative;
  top: -28.5px;
  left: -100px;
  text-transform: uppercase;
  z-index: 11;
}

.BusinessClusterPin {
  box-shadow: 0 0 5px 1px rgb(120, 120, 120);
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--purple);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  text-align: center;
  overflow-y: auto;
  margin-top: 12.5px;
  font-size: 20px;
  color: black;
}

.EventRadialMarker {
  background-color: var(--yellow);
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  opacity: 65%;
  border: 3px solid #f0f465;
}