.like-entry {
  font-family: var(--title-font);
  font-size: var(--md-font);
  color: var(--yellow);
  margin: .5em 1em;
  align-items: center;
}

.like-name {
  color: var(--white);
}

.reel-name {
  color: var(--pink);
}

.container-likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 525px;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {

  /* Likes Entry/List*/
  .container-likes {
    max-width: 90vw;
    padding: 1.5em;
  }
}
