nav.toolbar-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: var(--light-violet);
  width: 100vw;
  top: 0;
  z-index: 996;
  margin: 0 auto;
  /* padding-right: 40px; */
  padding-top: 3px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  width: 410px;
  justify-content: space-between;
  align-items: inherit;
  padding: .5rem 1em;
  z-index: 997;
}


#nav-logo {
  width: 100px;
  height: 50px;
  /* margin-right: 20px; */
  transition: transform .2s ease-out;
}

#nav-logo:hover {
  transform: scale(1.06);
}

.navLink {
  /* margin: 0 auto; */
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: var(--md-font);
  color: var(--yellow);
  transition: color .2s ease-out;
}

.navLink:hover {
  color: var(--pink);
}

button.navLink {
  width: 100%;
  height: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  align-self: center;
}

/* .mapLink {
  margin: 0 auto;
} */

.circle {
  color: var(--yellow);
  background-color: var(--violet);
  border-radius: 50%;
  /* margin: 2px; */
}

.avatar-container {
  position: relative;
}

.nav-avatar {
  cursor: pointer;
}


@media screen and (max-width: 300px) {
  nav.toolbar-container {
      width: 100%;
      top: 0;
      margin: 0 auto;
  }

  .navbar-container {
    width: 100%;
      margin-right: .25em;
      margin-left: .5em;
    }
    
}

@media screen and (max-width: 525px) {
  .navbar-container {
      margin-right: 2em;
      margin-left: 1.5em;
    }
}